{% extends "home/base.html" %}
{% load static %}
{%  block title  %} Home {% endblock %}

 {%block sty %}



{% endblock %}


{%  block main  %}

<div class="container w-100 my-4">
        <div class="row mb-1">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <h5 class="card-title">XYZ Technologies is a fast-growing IT services & consulting company delivering scalable digital solutions to clients across the globe.
Our mission is to build innovative products, deliver premium-quality service, and create a culture where employees grow with the organization.</h5>
                        <p class="card-text fs-4"></p>
                    </div>
                </div>
        </div>
</div>

{% endblock %}