{% extends "home/base.html" %} 
{% load static %} 
{% block title %} Emp-List {% endblock %}
 {%block sty %} 
 
  .action-cell {
    margin:0;
    padding:0;
    display: flex;
    height : 100%;
    
    
}
td, tr, form, a, button{
   border:none;
   margin:0;
    padding:0;
}
.containerY{
   margin:0;
   padding:0;
   width:100%;
}

    {% endblock %} 
    
    {% block main %} 

    {% if messages %} 
    {% for message in messages %} 
    <div class="alert alert-warning alert-dismissible " role="alert">
         <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
   </div>  
    {% endfor %} 
    {% endif %} 
<table class="containerY table table-hover">
   <thead>
      <tr>
         <th scope="col">ID</th>
         <th scope="col">Photo</th>
         <th scope="col">First Name</th>
         <th scope="col">Last Name</th>
         <th scope="col">Email</th>
         <th scope="col">Department</th>
         <th scope="col">Designation</th>
         <th scope="col">Salary</th>
         <th scope="col">Phone No.</th>
         <th scope="col">Joinig Date</th>
         <th scope="col">Action</th>
      </tr>
   </thead>
   <tbody>
      {% for e in emp %} 
      <tr>
         <td>{{e.id}}</td>
         <td><img src="{{e.photo.url}}" alt="" class="card-img" height="60px"></td>
         <td>{{e.first_name}}</td>
         <td>{{e.last_name}}</td>
         <td>{{e.email}}</td>
         <td>{{e.Department}}</td>
         <td>{{e.Designation}}</td>
         <td>{{e.salary}}</td>
         <td>{{e.phone}}</td>
         <td>{{e.hire_date}}</td>
         <td class="action-cell my-2">
            <a href="{% url 'up_emp' e.id %}" class="btn btn-warning">Update</a> 
            {% if user.employee_profile and user.employee_profile.Designation.name == "Sr. HR Manager" %}
            <form method="POST" action="{% url 'del_emp' e.id %}"> 
              {% csrf_token %} 
              <button type="submit" class="btn btn-danger mx-2">Delete</button>
            </form>
            {% endif %}
         </td>
      </tr>
      {% endfor %} 
   </tbody>
</table>
{% endblock %} 
{% block script %} 

{% endblock %}
    