<!DOCTYPE html>
    <html>
    <body style="font-family: Arial, sans-serif; color: #333333; margin: 0; padding: 0;">

      <div style="width: 100%; max-width: 600px; margin: 20px auto; border: 1px solid #dddddd; border-radius: 5px; overflow: hidden;">

        <!-- Header -->
        <div style="background-color: #0046be; color: #ffffff; padding: 20px; text-align: center;">
          <h1 style="margin: 0; font-size: 24px;">Employee Registered!</h1>
        </div>

        <!-- quote info -->
        <div style="padding: 20px;">
          <p>Dear <strong>{{data.manager}}</strong>,</p>
          <p>New employees has been registered in company and which is under your department.<br/> <br/></p>
            <p>Therefore, please update the salary and bonus of the same as per companies financial rules and management orders.</p>
            <p>Below are the details of Employee: </p>
         
            <p>Employee Name :{{data.User}} </p>
          <p>If you have any questions, you can reach out to HR.</p>
          <p>Best regards,<br/>The EMP MGM Team</p>
        </div>

        <!-- Footer -->
        <div style="background-color: #f2f2f2; text-align: center; padding: 15px; font-size: 12px; color: #666666;">
          &copy; 2025 The EMP MGM Team. All rights reserved.
        </div>

      </div>
    </body>
    </html>