<!DOCTYPE html>
    <html>
    <body style="font-family: Arial, sans-serif; color: #333333; margin: 0; padding: 0;">

      <div style="width: 100%; max-width: 600px; margin: 20px auto; border: 1px solid #dddddd; border-radius: 5px; overflow: hidden;">

        <!-- Header -->
        <div style="background-color: #0046be; color: #ffffff; padding: 20px; text-align: center;">
          <h1 style="margin: 0; font-size: 24px;">Employee Registered!</h1>
        </div>

        <!-- quote info -->
        <div style="padding: 20px;">
          <p>Dear <strong>{{data.User}}</strong>,</p>
          <p>Thank you for registration on Employee management system.<br/> <br/></p>
            <p>Your personal data and information are safe and won't be sent to any third party without your consent.</p>
          
            <br/>
          <p>If you have any questions, feel free to contact us at <a href="mailto:ybodke123@gmail.com">ybodke123@gmail.com</a></p>
          <p>Best regards,<br/>The Aspire Digital Team</p>
        </div>

        <!-- Footer -->
        <div style="background-color: #f2f2f2; text-align: center; padding: 15px; font-size: 12px; color: #666666;">
          &copy; 2025 Aspire Digital. All rights reserved.
        </div>

      </div>
    </body>
    </html>